html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto Slab", serif;
}
body input,
body button {
  font: inherit;
}
h1 {
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr;
}
header {
  background-color: #701a75;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;

  background-image: url("../assets/bg/fog-covered-trees-with-purple-sunset-overhead.jpg");
  background-size: cover;
}

form {
  display: flex;
  gap: 15px;
  height: 30px;
}

form * {
  height: 30px;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: rgb(0, 0, 0, 0.2);
  font-size: 30px;
  color: white;
}

.container .second {
  font-size: 60px;
}

.container > .third {
  display: flex;
  align-items: center;
}

/* .container img {
  height: 100%;
  width: auto;
} */
